@model BelleEssense.DATA.Candle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label.LabelDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label.LabelDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scent.ScentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scent.ScentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.SizeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.SizeDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CandleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
