@model IEnumerable<BelleEssense.DATA.Candle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label.LabelDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scent.ScentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size.SizeDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label.LabelDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scent.ScentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size.SizeDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CandleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CandleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandleId })
        </td>
    </tr>
}

</table>
