@model IEnumerable<BelleEssense.DATA.Candle>

@{
    ViewBag.Title = "Candles";
}

<!--================Categories Banner Area =================-->
<section class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3></h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->

<!--================Categories Product Area =================-->
<section class="categories_product_main p_80">
    <div class="container">
        <div class="categories_main_inner">
            <div class="row row_disable">
                <div class="col-lg-12 float-md-right">
                    @if (User.IsInRole("Admin"))
                    {
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                    }
                </div>
                <div class="col-lg-12 float-md-right">
                    @* Filters Bar *@
                    <div class="showing_fillter">
                        <div class="row m0">
                            <div class="first_fillter">
                                <h4>Showing 1 to 12 of 30 total</h4>
                            </div>
                            <div class="secand_fillter">
                                <h4>SORT BY :</h4>
                                <select class="selectpicker">
                                    <option>Name</option>
                                    <option>Name 2</option>
                                    <option>Name 3</option>
                                </select>
                            </div>
                            <div class="third_fillter">
                                <h4>Show : </h4>
                                <select class="selectpicker">
                                    <option>09</option>
                                    <option>10</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="four_fillter">
                                <h4>View</h4>
                                <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                <a href="#"><i class="icon_grid-3x3"></i></a>
                            </div>
                        </div>
                    </div>

                    @* Product List *@
                    <div class="c_product_grid_details">
                        @foreach (var item in Model)
                        {
                            <div class="c_product_item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        @* TODO Add images to Candles *@
                                        <div class="c_product_img" href="@Url.Action("Details", "Candles", new { id = item.CandleId })">
                                            <img class="img-fluid" src="~/Content/img/product/@Html.DisplayFor(modelitem => item.Photo1)" alt="@item.Scent.ScentName @item.Size.SizeDesc Candle">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-6">
                                        <div class="c_product_text">
                                            @* TODO Fix link to Candle Details *@
                                            <h3 href="@Url.Action("Details", "Candles", new { id = item.CandleId })">@Html.DisplayFor(modelItem => item.Scent.ScentName) @Html.DisplayFor(modelItem => item.Size.SizeDesc) Candle</h3>
                                            <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                                            @*<ul class="product_rating">
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                            <h6>Available In <span>Stock</span></h6>*@
                                            <p>@Html.DisplayFor(modelItem => item.Notes)</p>
                                            <ul class="c_product_btn">
                                                @*<li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>*@
                                                <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                                <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* Pagination *@
                        <nav aria-label="Page navigation example" class="pagination_area">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Categories Product Area =================-->

