@model BelleEssense.DATA.Scent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScentDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
